/* Resetear estilos predeterminados */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  
  /* Estilos para el encabezado */
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  header h1 {
    font-size: 36px;
  }
  
  /* Estilos para la barra de navegación */
  nav {
    background-color: #444;
    padding: 10px;
  }
  
  nav ul {
    list-style: none;
    text-align: center;
  }
  
  nav li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
  }
  
  /* Estilos para el contenido principal */
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 40px;
  }
  
  /* Estilos para el pie de página */
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  
  /* Estilos para los enlaces */
  a {
    color: #007bff;
  }
  
  a:hover {
    text-decoration: underline;
  }
  #galeria-proyectos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  }
  
  .imagen-proyecto img {
    width: 100%;
    height: auto;
    border: 2px solid #ddd;
    border-radius: 5px;
  }
  #calculadora {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 10px;
}

input {
  padding: 5px;
  margin-bottom: 15px;
}

button {
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#resultado {
  margin-top: 20px;
  font-size: 18px;
}